{% extends 'productsapp/base.html' %}
{% load static %}
{% block content-container %}

            <!-- Main Content -->
            <div id="main-content" class="site-main clearfix">
                <div id="content-wrap">
                    <div id="site-content" class="site-content clearfix">
                        <div id="inner-content" class="inner-content-wrap">
                            <div class="page-content">
                                <section class="wprt-section">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <!--div class="col-md-12"-->
                                                <div class="wprt-spacer" data-desktop="40" data-mobi="20"
                                                     data-smobi="20"></div>

                                                {% if form.errors %}
                                                    <p class="n_text"> Логин или пароль не совпадают. Попробуйте
                                                        снова.</p>
                                                {% endif %}
                                                <div class="login-form">
                                                    <form action="{% url "login" %}" method="post">
                                                        {{ form.as_p }}
                                                        {% csrf_token %}
                                                        <input type="hidden" name="next" value="{{ next }}"/>
                                                        <p><input type="submit" value="Отправить"></p>
                                                        <p>
                                                            <a href="/accounts/facebook/login/?process=login"><img src="{% static 'assets/icon/facebook.png' %}" alt="" style="width: 220px"></a>
                                                        </p>
                                                        <p>
                                                            <a href="{% url 'social:begin' 'vk-oauth2' %}?process=login"><img src="{% static 'assets/icon/vkontakte.png' %}" alt="" style="width: 220px"></a>
                                                        </p>
{#                                                        <p>#}
{#                                                            <a href="{% url 'social:begin' 'instagram' %}"><img src="{% static 'assets/icon/vkontakte.png' %}" alt="" style="width: 220px"></a>#}
{#                                                        </p>#}
                                                    </form>
                                                    <div class="wprt-spacer" data-desktop="40" data-mobi="20" data-smobi="20"></div>
                                                    <p class="n_text"><i><a href="{% url 'register' %}">Зарегистрироваться</a></i></p>
                                                    <p class="n_text"><i><a href="{% url 'password_reset' %}">Забыли пароль?</a></i></p>
                                                </div>
                                            </div>
                                            <!-- /.col-md-12 -->
                                        </div><!-- /.row -->
                                    </div><!-- /.container -->
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <script>
        $(document).ready(function () {
            $('#id_phone').mask("+7(999)999-99-99");
            $("#id_email").inputmask("email")
        });
    </script>

{% endblock %}