{% extends 'productsapp/base.html' %}
{% load static %}
{% block content-container %}

            <!-- Main Content -->
            <div id="main-content" class="site-main clearfix">
                <div id="content-wrap">
                    <div id="site-content" class="site-content clearfix">
                        <div id="inner-content" class="inner-content-wrap">
                            <div class="page-content">
                                <section class="wprt-section">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <!--div class="col-md-12"-->
                                                <div class="wprt-spacer" data-desktop="40" data-mobi="20"
                                                     data-smobi="20"></div>
                                                <p>Для восстановления пароля введите свой email:</p>
                                                <form action="#" method="post">
                                                    {% csrf_token %}
                                                    {{ form.email }}
                                                    <p><input type="submit" value="Отправить"></p>
                                                </form>
                                            </div>
                                            <!-- /.col-md-12 -->
                                        </div><!-- /.row -->
                                    </div><!-- /.container -->
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <script type="text/javascript" src="{% static 'assets/js/register.js' %}"></script>
{% endblock %}
