{% extends 'productsapp/base.html' %}
{% load static %}
{% block content-container %}

    <!-- Main Content -->
    <div id="main-content" class="site-main clearfix">
        <div id="content-wrap">
            <div id="site-content" class="site-content clearfix">
                <div id="inner-content" class="inner-content-wrap">
                    <div class="page-content">
                        <section class="wprt-section">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="wprt-spacer" data-desktop="60" data-mobi="60" data-smobi="60"></div>
                                    </div><!-- /.col-md-12 -->

                                    <div class="col-md-12">
                                        <form action="" method="post">
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                            <p></p>
                                            <button type="submit" value="сохранить" class="wprt-button">
                                                СОХРАНИТЬ
                                            </button>
                                        </form>
                                     <div class="wprt-spacer" data-desktop="60" data-mobi="60" data-smobi="60"></div>
                                    </div><!-- /.col-md-12 -->
                                    <div class="col-md-12">
                                        <div class="wprt-spacer" data-desktop="60" data-mobi="60" data-smobi="60"></div>
                                    </div><!-- /.col-md-12 -->
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    let inputAttrs = document.querySelectorAll('form p');
    console.log(inputAttrs);
    for(let i = 0; i < inputAttrs.length - 2; i++){
        inputAttrs[i].setAttribute('style', 'display:none;')
    }
    </script>
{% endblock %}
